@import url('https://fonts.googleapis.com/css2?family=Anton&family=Changa+One&family=Lexend:wght@300&family=Quicksand:wght@400;500;600&display=swap');

@import "tailwindcss";
@plugin "../hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-green-primary:    #142b10;
  --color-dorado-primary:   #caa56e;

  --font-display: 'Changa One', sans-serif;
  --font-heading: 'Lexend', sans-serif;
  --font-body: 'Quicksand', sans-serif;

  --animate-scroll-left: scroll-left var(--animation-duration, 38s) linear infinite;
  --animate-scroll-right: scroll-right var(--animation-duration, 38s) linear infinite;
  @keyframes scroll-left {
    to {
      transform: translateX(calc(-50% - 0.625rem));
    }
  }
  @keyframes scroll-right {
    from {
      transform: translateX(calc(-50% - 0.625rem));
    }
    to {
      transform: translateX(0);
    }
  }
}

@layer base {
  body {
    font-family: var(--font-body);
  }
}

@keyframes banderas-catalogo {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 0.625rem));
  }
}

@layer utilities {
  .animate-banderas-catalogo {
    animation: banderas-catalogo 95s linear 1s infinite;
  }
}

/* Uso
  Titulo: className="font-display uppercase tracking-wide text-5xl"
  Subtitulo: className="font-heading font-semibold text-xl"
  Texto normal: className="font-body text-base font-normal" */
